<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/project.css" />
    <link href="https://fonts.googleapis.com/css?family=Cardo:400,700%7COswald" rel="stylesheet">

</head>

<body>
    
    <header>
        <a href="/"><img src="/images/logo.png" alt="Moderna: Envision the Future" id="logo"></a>
        <ul class="nav">
            <li><a href="/connections/new">Start a new connection</a></li>
            <li><a href="/connections/login">Login</a></li>
            <li><a>Sign Up</a></li>
        </ul>
    </header>

    <div id="gs_navigation">
        <a href="/connections">Connections</a>
    </div>