<%- include('./partials/header.ejs')%>
    <div id="background_image">
        <section id="index_content-text">
            <h1>Welcome to Moderna</h1>
            <p>Attend and create tech events with people. 
                Whether you are looking for career opportunities in the tech field, connecting with others with the same interests
            will allow you to obtain more opportunities in staying involved into the future.</p>
            <p>Check out the Connections section to browse available opportunities and networking.</p>
        </section>
    </div>
<%- include('./partials/footer.ejs')%>
    
   